.home{

    width:1200px;

    margin:auto;

    padding:30px;
}

.header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;
}

.header button{

    padding:10px 18px;

    border:none;

    background:#ff8a00;

    color:white;

    border-radius:8px;

    cursor:pointer;
}

.menu{

    display:flex;

    gap:15px;

    margin-bottom:40px;
}

.menu button{

    padding:12px 20px;

    border:none;

    border-radius:8px;

    background:#efefef;

    cursor:pointer;
}

.product-list{

    display:flex;

    gap:30px;

    flex-wrap:wrap;
}

.product-card{

    width:260px;

    border:1px solid #ddd;

    border-radius:10px;

    padding:15px;

    text-align:center;
}

.product-card img{

    width:100%;

    border-radius:10px;
}

.product-card button{

    width:100%;

    padding:12px;

    margin-top:10px;

    border:none;

    background:#ff8a00;

    color:white;

    border-radius:8px;

    cursor:pointer;
}